
.snake {
    position: absolute;
    background-color: green;
    transition-property: top, left;
}

.head {
    background-color: black;
    border-radius: 4px;

}

.translucent {
    color: rgba(0, 0, 0, 0.5);
}
